<aside class="bg-dark">
   <div class="container">
      <div class="d-flex">
     <div class="col-sm-3 col-xs-3">
      <img src="img/assets/otr_LogoWhiteLG.png" class="img-fluid">
   </div>
   <div class=" col-sm-3 col-xs-3">
      <img src="img/assets/logovector.png" class="img-fluid" >
   </div>
   <div class="col-sm-3 col-xs-3">
      <img src="img/assets/everlast.png" class="img-fluid" >
   </div>
   <div class=" col-sm-3 col-xs-3">
      <img src="img/assets/truckfaults.png" class="img-fluid" >
   </div>
</div>
</div>
</aside>