<section>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<ul class="list-unstyled">
					{% for post in site.posts | limit:1 %}
					<div class="card mb-4">
            <a href="{{ post.url }}"><img class="card-img-top" src="{{ post.image | prepend: site.baseurl }}"></a>
						<div class="card-body">
              <h4 class="card-title">
                <a href="{{ post.url }}">{{ post.title }}</a>
              </h4>
              <p class="card-text">{{ post.excerpt }}</p>
							<a href="{{ post.url }}"> Read More ->
							</a>
              <p><span style="font-size: 12px;"><i class="fas fa-calendar-week"></i>{{ post.date | date:" %b %d, %Y" }} </span><br>
						</div>
					</div>
					{% endfor %}
				</ul>
			</div>
      <div class="col-md-4 col-sm-12">
				<ul class="list-unstyled">
					{% for post in site.posts | limit:1 offset:1 %}
					<div class="card mb-4">
            <a href="{{ post.url }}"><img class="card-img-top" src="{{ post.image | prepend: site.baseurl }}"></a>
						<div class="card-body">
              <h4 class="card-title">
                <a href="{{ post.url }}">{{ post.title }}</a>
              </h4>
              <p class="card-text">{{ post.excerpt }}</p>
							<a href="{{ post.url }}"> Read More ->
							</a>
              <p><span style="font-size: 12px;"><i class="fas fa-calendar-week"></i>{{ post.date | date:" %b %d, %Y" }} </span><br>
						</div>
					</div>
					{% endfor %}
				</ul>
			</div>
      <div class="col-md-4 col-sm-12">
				<ul class="list-unstyled">
					{% for post in site.posts | limit:1 offset:2 %}
					<div class="card mb-4">
            <a href="{{ post.url }}"><img class="card-img-top" src="{{ post.image | prepend: site.baseurl }}"></a>
						<div class="card-body">
              <h4 class="card-title">
                <a href="{{ post.url }}">{{ post.title }}</a>
              </h4>
              <p class="card-text">{{ post.excerpt }}</p>
							<a href="{{ post.url }}"> Read More ->
							</a>
              <p><span style="font-size: 12px;"><i class="fas fa-calendar-week"></i>{{ post.date | date:" %b %d, %Y" }} </span><br>
						</div>
					</div>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

</section>
