<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-white">
                <i class="fas fa-2x fa-angle-down mb-5"></i>
                <h6 class="call-to-action">We've got what you need!</h6>
                <hr class="light">
                <p class="text-faded">Junia Marketing has your needs met for all things digital marketing! Strategy to execution to optimization, our services are completely catered to your unique business. We understand that each and every business is unique in its own way and we understand that.</p>
                <a href="/contact.html" class="btn btn-default btn-md">Get Started!</a>
            </div>
        </div>
    </div>
</section>
