<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Junia Marketing has everything you need to get your digital marketing up and running in no time! All of our services are completely catered to your business. We understand that each and every business is unique in its own way!</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
