<section class="cta_block">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <i class="fas fa-2x fa-angle-down mb-2" style="color: white;"></i>
                <h2 class="call-to-action" style="color: white;">Ready to Get Started?</h2>
                <hr class="light">
                <br>
                <a href="/pages/contact.html" class="btn-secondary btn-xl">Let's Talk</a>
            </div>
        </div>
    </div>
</section>
