<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">
                <a class="navbar-brand mb-2" href="/">
                    <object data="/img/juniamarketinglogow.svg" width="110" height="40"> </object>
                </a>
                <p style="max-width: 500px; color: #fff;">Full-service digital agency that uses storytelling and technology to create brands that focus on delivering the best customer experience.</p>

            </div>
            <div class="col-md-3 mb-4 ">
                <h4><strong>Links</strong></h4>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/pages/blog.html">Blog</a></li>
                    <li class="mb-2"><a href="/pages/about.html">About</a></li>
                    <li class="mb-2"><a href="/pages/work.html">Work</a></li>
                    <li class="mb-2"><a href="/pages/services.html">Services</a></li>
                    <li class="mb-2"><a href="mailto:sales@juniamarketing.com">Contact</a></li>
                    <li class="mb-2"><a href="/pages/resources.html">Resources</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-4">
                <h4><strong>Contact Us</strong></h4>
                <ul class="list-unstyled mb-2">
                    <li class="mb-2" style="font-size:12px;"><i class="far fa-envelope"></i><a href="mailto:sales@juniamarketing.com"> sales@juniamarketing.com</a></li>
                    <li class="mb-2" style="font-size:12px;"><i class="fas fa-map-marker-alt"></i> Detroit, MI </li>
                </ul>
                <a href="https://www.facebook.com/juniamarketing"><i class="fab fa-facebook"></i></a>
                <a href="https://youtube.com/channel/UCe_htzFm3YlJERI5god1IWQ"><i class="fab fa-youtube m-1"></i></a>
                <a href="https://www.instagram.com/juniamarketing/"><i class="fab fa-instagram m-1"></i></a>
                <!-- <a href="https://www.linkedin.com/juniamarketing" style="color: #fff;"><i class="fab fa-linkedin m-1"></i></a> -->
            </div>
        </div>
    </div>
</div>

<div class="container-fluid copyright pb-2">
    <div class="row">
        <div class="col-md-12 text-center pb-3" style="font-size: 11px;">
            <br>©{{ 'now' | date: "%Y" }} Junia Marketing <br> Made with ❤️ and ☕️ •
            <a href="https://www.biblegateway.com/passage/?search=Ephesians+6%3A7&version=ESV" target="#" style="color: #fff;">
                Ephesians 6:7 📖
            </a>
        </div>
    </div>
</div>
