<section class="footer">
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-12 text-center">
        <h3 class="section-heading">Let's Get In Touch!</h3>
        <hr class="light">
        <p>Ready to start your next project with us? That's great! <br> Send us an email and we will get back to you as soon as possible!</p>
        <a href="mailto:{{ site.email }}" class="btn btn-default btn-md wow tada">Send Email</a>
        <p>{{ site.email }}</p>
      </div>
    </div>
    <div class="row text-center">
        <div class="col-md-3 mb-2">
          <a href="/about.html" style="color: #fff;">About</a>
        </div>
        <div class="col-md-3 mb-2">
          <a href="/blog.html" style="color: #fff;">Blog</a>
        </div>
        <div class="col-md-3 mb-2">
          <a href="/pages/services.html" style="color: #fff;">Services</a>
        </div>
        <div class="col-md-3 mb-2">
          <a href="/pages/contact.html" style="color: #fff;">Contact</a>
        </div>
      </div>
  </div>
  <div class="container">
    <div class="row pt-5">
      <div class="col-md-12 text-center pb-2" style="font-size: 12px;">
        <br>©2020 Junia Marketing <br> Made with ❤️ and ☕️
      <br>
      <a href="https://raulghiurau.com" class="btn btn-default btn-sm mt-2 mb-2 wow zoomIn">Resume</a>
      </div>
    </div>
  </div>

</section>
