<div class="footer">
    <div class="container">

        <div class="row">
            <div class="col-md-6 mb-4">
                <a class="navbar-brand mb-2" href="/">
                    <img src="/img/JMLogoW.png" style="max-height: 40px;">
                </a>
                <p style="font-size: 13px;">At Junia Marketing we believe in building brands that focus on delivering the best customers experience through various digital mediums. </p>

            </div>
            <div class="col-md-3 mb-4">
                <p class="m-0"><strong>Links</strong></p>
                <ul class="list-unstyled">
                <!-- <li><a href="/pages/blog.html" style="color: #fff;">Blog</a></li> -->
                <li><a href="/pages/about.html" style="color: #fff;">About</a></li>
                <li><a href="/pages/work.html" style="color: #fff;">Work</a></li>
                <li><a href="/pages/services.html" style="color: #fff;">Services</a></li>
                <li><a href="mailto:sales@juniamarketing.com" style="color: #fff;">Contact</a></li>
                <li><a href="/pages/resources.html" style="color: #fff;">Resources</a></li>
                </ul>
            </div>
                <div class="col-md-3 mb-4">
                    <p class="mb-2"><strong>Contact Us</strong></p>
                    <ul class="list-unstyled mb-2">
                    <li class="mb-2" style="font-size:12px;"><i class="far fa-envelope"></i><a href="mailto:sales@juniamarketing.com" style="color: #fff;"> sales@juniamarketing.com</a></li>
                    <li clsas="mb-0" style="font-size:12px;"><i class="fas fa-map-marker-alt"></i> Detroit, MI </li>
                    </ul>
                    <a href="https://www.facebook.com/juniamarketing" style="color: #fff;"><i class="fab fa-facebook"></i></a>
                    <a href="https://youtube.com/channel/UCe_htzFm3YlJERI5god1IWQ" style="color: #fff;"><i class="fab fa-youtube m-1"></i></a>
                    <a href="https://www.instagram.com/juniamarketing/" style="color: #fff;"><i class="fab fa-instagram m-1"></i></a>
                    <!-- <a href="https://www.linkedin.com/juniamarketing" style="color: #fff;"><i class="fab fa-linkedin m-1"></i></a> -->
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid copyright pb-2">
        <div class="row">
            <div class="col-md-12 text-center pb-2" style="font-size: 10px;">
                <br>©{{ 'now' | date: "%Y" }} Junia Marketing • Made with ❤️ and ☕️
                <br>
                Ephesians 6:7 📖
            </div>
        </div>
    </div>
