{% include nav.html %}

<header>
	<div class="mask">
		<div class="header-content">
			<div class="header-content-inner">
				<h1 class="hero">Digital Marketing Services</h1><br>
				<h5 class="mb-4">I'll spare you the marketing fluff. </h5> <p> We will not do hyped up terms, fancy catch phrases, or marketing jargon. Check our work and get familiar with what we do. You might like what you see. I appreciate you stoppying by! </p>
				<a href="/pages/services.html" class="btn btn-primary btn-xl mt-4 animate__animated animate__tada">Learn More</a>
			</div>
		</div>
		</div>
</header>
