<header>
	<div class="mask">
		<div class="header-content">
			<div class="header-content-inner text-center">
				<h1 class="text-center" style="font-size: 3rem; color: #fff;">Digital Marketing Services</h1><br>
			 <p>I believe that marketing should help businesses grow their brand and deliver on their promise by solving problems quickly, effectively and cost-effectively through digital marketing solutions such as SEO, PPC Management & more. Marketing should not be difficult. Let's jump in!</p>
				<a href="/pages/services.html" class="btn btn-primary btn-xl mt-4 animate__animated animate__tada">Learn more about what I do</a>
			</div>
		</div>
	</div>
</header>
