<header>
	<div class="mask">
		<div class="header-content">
			<div class="header-content-inner text-center">
				<h1 class="hero text-center">Digital Marketing Services</h1><br>
				<h4 class="mb-4">I'll spare you the marketing fluff. </h4> <p> We get right to work. We ask the tough questions and come along side you and guide you throughout  the marketing process! Lets jump in!</p>
				<a href="/pages/services.html" class="btn btn-primary btn-xl mt-4 animate__animated animate__tada">Learn more about what we do</a>
			</div>
		</div>
	</div>
</header>
