<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><strong>Junia</strong>Marketing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog.html">Blog</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/services.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/pages/videos.html">Media Production</a>
          <a class="dropdown-item" href="/pages/web.html">Web Development</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/pages/branding.html">Branding</a>
          <a class="dropdown-item" href="/pages/design.html">Graphic Design</a>
          <a class="dropdown-item" href="/pages/ecommerce.html">Ecommerce</a>
          <a class="dropdown-item" href="/pages/photography.html">Photography</a>
        </div>
      </li>
       
      <li class="nav-item">
        <a class="nav-link" href="/about.html">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact.html">Contact</a>
      </li>
    </ul>
    
  </div>
</nav>