<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">

            <div class="col-lg-4 col-sm-6">
                <a href="/pages/videos.html" class="portfolio-box">
                    <img src="img/services/video.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Media Production
                                 <div class="project-name text-faded">
                                    Video filming, editing, producing
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="pages/web.html" class="portfolio-box">
                    <img src="img/services/plans.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Web Development
                                <div class="project-name text-faded">
                                    Content, blogging, design
                                </div>
                            </div>
                     
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/pages/branding.html" class="portfolio-box">
                    <img src="img/services/brand.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Branding
                                <div class="project-name text-faded">
                                    Logo, strategy, execution
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="pages/design.html" class="portfolio-box">
                    <img src="img/services/design.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Graphic Design
                                <div class="project-name">
                                    Billboards, Flyers, Brochures
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="pages/Ecommerce.html" class="portfolio-box">
                    <img src="img/services/ecom.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Ecommerce 
                                <div class="project-name text-faded">
                                    eBay, Amazon, or/and Website
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="pages/photography.html" class="portfolio-box">
                    <img src="img/services/photo.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Photography
                                <div class="project-name text-faded">
                                    Lifestyle, product, corporate
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
