<div class="container what-we-do">
    <div class="row text-center">
        <div class="col-md-12">
            <h2 >What we do.</h2>
            <hr>
            <p class="mx-auto pt-5">We build, produce, execute and optimize marketing plans that deliver results. Right from the start! Digital marketing is everywhere let us help you get there. </p>
        </div>
    </div>
</div>


<div class="container-fluid what-we-offer">
    <div class="container">
        <h2 class="text-center">What we offer.</h2>
        <hr>
        <div class="row text-center pt-5">

            <div class="col-md-4">

                <h5>Strategic and Brand</h5>
                <p>Your brand has something distinctive that sets it apart from the sea of competitors. Your audience is unique, too. We take these things - brand, competition, audience - and make one cohesive strategy.</p>
            </div>
            <div class="col-md-4">

                <h5>Advertising</h5>
                <p>We’re a full-service marketing agency focused on results-driven creative. Which means customers will not only see your message. They’ll remember your name as they proceed to checkout.</p>
            </div>
            <div class="col-md-4">
                
                <h5>Digital Development</h5>
                <p>We believe an informative, intuitive site is imperative for growing your business. Consider a responsive, mobile-first website, optimized landing pages and targeted email campaigns to move the needle.</p>
            </div>
        </div>
        <div class="row text-center pt-5">
            <div class="col-md-12">

                <p> We guarantee the best results with the best outcomes </p>

            </div>
        </div>
    </div>
</div>



<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="img/assets/aboutimg.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 my-auto text-center">
                <h4 class="text-muted">RESULT DRIVEN</h4>
                <p>For over a decade we've delivered quality promotional material. We plan to do that for the next decade.</p>
                <a href="/pages/about.html"><button class="btn btn-primary mb-5">Learn More</button></a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 order-sm-1">
                <img src="img/assets/serviceimg.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-6  my-auto text-center">
                <h4 class="text-muted">QUALITY FOCUSED</h4>
                <p>We are a small company that delivers a big impact. No project is to big or to small to handle.</p>
                <a href="/pages/services.html"><button class="btn btn-primary mb-5">Learn More</button></a>
            </div>
        </div>
    </div>
</section>
