

<div class="container text-center" style="margin-top: 100px;">
    <h2>Clients i've worked with</h2>
</div>

<div class="no-padding" id="portfolio">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
        <div class="col-md-4">

            <a class="portfolio-box" href="/pages/client/truckfaults.html">
                <img src="/img/assets/TFbg.jpg" class="img-fluid" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category">
                            <img src="/img/assets/truckfaults.png" width="30%" alt="" class="mb-2">
                            <!-- Truckfaults -->
                            <div class="project-name">
                                branding, web, design
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        </div>
        <div class="col-md-4">

            <a class="portfolio-box" href="/pages/client/ovsl.html">
                <img src="/img/assets/clientImages/ovsl/ovslman.jpg" style="filter: grayscale(100%);" class="img-fluid" alt="other">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <img src="/img/assets/clientImages/ovsl/logoW.png" width="40%" alt="" class="mb-2">
                        <div class="project-category">
                            <!-- Oakland View Senior Living  -->
                            <div class="project-name">
                                video, web, SEO
                            </div>
                        </div>
                    </div>
                </div>
            </a>


        </div>
        <div class="col-md-4">

            <a class="portfolio-box" href="/pages/client/mhw.html">
                <img src="/img/assets/mhwbg.jpg" style="filter: grayscale(100%);" class="img-fluid" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category">
                            <img src="/img/assets/mhw.png" width="30%" alt="" class="mb-2">
                            <!-- MH & W -->
                            <div class="project-name text-center">
                                web, photo, SEO
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>
</div>

{% include backbutton.html %}
