

<div class="container">

  <div class="row m-5">
    <div class="col-md-12 text-center">
      <h3>We belive in standing out form the traditional marketing methods.</h3>
      <p>Custom to each business, a marketing plan involves strategy and execution. A blueprint for a designer approach to getting everything right from the start.</p>
      <p style="font-size: 12px"><i>The last shall be first </i></p>
      </div>
  </div>


  <div class="row m-5">
    <div class="col-md-6 my-auto text-center">
      <h6>ABOUT</h6>
      <p>Junia Marketing has worked with clients for over a decade to deliver quality promotional material. </p>
    </div>
    <div class="col-md-6">
      <img src="img/assets/video.jpg" class="img-fluid" alt="">
    </div>
  </div>


  <div class="row m-5">
    <div class="col-md-6">
      <img src="img/assets/video.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-md-6 my-auto text-center order-first">
      <h6>SERVICE</h6>
      <p>We are a small company that delivers a big impact.</p>
    </div>
  </div>
</div>
