<section id="services">
    <div class="container text-center">

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="service-box">
                    <i class="fas fa-2x fa-store wow bounceIn mb-3 text-primary"></i>
                    <h5>eCommerce</h5>
                    <p class="text-muted">We provide eCommerece support for small to medium size companies looking to sell products / services online.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="service-box">
                    <i class="fas fa-2x fa-photo-video wow bounceIn mb-3 text-primary" data-wow-delay=".1s"></i>
                    <h5>Graphic Design</h5>
                    <p class="text-muted">We produce beautiful web and print designs that convey your brand and make you stand out.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="service-box">
                    <i class="fas fa-2x fa-cubes wow bounceIn mb-3 text-primary" data-wow-delay=".2s"></i>
                    <h5>Strategy Consulting</h5>
                    <p class="text-muted">We help you develop and implement a unique marketing strategy for reaching your goals.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="service-box">
                    <i class="fa fa-ad fa-2x wow bounceIn mb-3 text-primary" data-wow-delay=".3s"></i>
                    <h5>PPC Management</h5>
                    <p class="text-muted">We create and manage your digital ads to give you the best possible ROI.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="service-box">
                    <i class="fas fa-mobile-alt fa-2x wow bounceIn mb-3 text-primary"></i>
                    <h5>Website Design & SEO</h5>
                    <p class="text-muted">We build new websites, revamp old ones, and create powerful landing pages to convert visitors.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="service-box">
                    <i class="far fa-envelope fa-2x wow bounceIn mb-3 text-primary" data-wow-delay=".1s"></i>
                    <h5>Email Marketing</h5>
                    <p class="text-muted">We push out distinctive email campaigns to nurture leads and boost conversions.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="service-box">
                    <i class="far fa-comments fa-2x wow bounceIn mb-3 text-primary" data-wow-delay=".2s"></i>
                    <h5>Social Media</h5>
                    <p class="text-muted">We create and manage all of your social media accounts to build your brand and bring it to life.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="service-box">
                    <i class="fas fa-video fa-2x wow bounceIn mb-3 text-primary" data-wow-delay=".3s"></i>
                    <h5>Video Content</h5>
                    <p class="text-muted">We create and publish your video messages for your brand.</p>
                </div>
            </div>
        </div>


        <div class="row mt-5">
            <div class="col-md-12 mt-5">

                <h4 class="text-muted">Junia Marketing is a full-service, digital marketing agency. We create marketing strategies for businesses and handle all the daily tasks associated with it. We design websites, manage company social media accounts, implement digital ads, and much more. Our goal is to attract and convert new leads so that you can close more sales and delight more customers.</h4>

            </div>
        </div>
    </div>
</section>
