<section id="services">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12  ">
                <h4 class="section-heading">Our services</h4>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="service-box">
                    <i class="fas fa-2x fa-store wow bounceIn mb-3 text-primary"></i>
                    <h4>Sell Online</h4>
                    <p class="text-muted">We provide e-commerece support for small to medium size companies looking to sell online.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 ">
                <div class="service-box">
                    <i class="fas fa-2x fa-photo-video wow bounceIn mb-3 text-primary" data-wow-delay=".1s"></i>
                    <h4>Content Production</h4>
                    <p class="text-muted">Web development, graphic design, or video production. From concept to final piece. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 ">
                <div class="service-box">
                    <i class="fas fa-2x fa-cubes wow bounceIn mb-3 text-primary" data-wow-delay=".2s"></i>
                    <h4>Strategy and Identity</h4>
                    <p class="text-muted">Logo design to strategy. We deliver a wholistic approach to building a brand.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-box">
                    <i class="fa fa-ad fa-2x wow bounceIn mb-3 text-primary" data-wow-delay=".3s"></i>
                    <h4>Paid Advertisement</h4>
                    <p class="text-muted">Google Ads, Facebook Ads, Bing Ads. We make sure to cover them all extensively.</p>
                </div>
            </div>
        </div>
    </div>
</section>
