<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-store wow bounceIn text-primary"></i>
                    <h3>E-COMMERCE</h3>
                    <p class="text-muted">We provide e-commerece support for small to medium size companies looking to sell online.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-photo-video wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>MEDIA</h3>
                    <p class="text-muted">Web development, graphic design, or video production. From concept to final piece. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-cubes wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Brand Building</h3>
                    <p class="text-muted">Logo design to strategy. We deliver a wholistic approach to building a brand</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-ad fa-4x wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>PPC ADS</h3>
                    <p class="text-muted">Google Ads, Facebook Ads, Bing Ads. We make sure to cover them all extensively.</p>
                </div>
            </div>
        </div>
    </div>
</section>
