<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <div class="row">

                <div class="service-banner col-md-4">
                    <i class="fas fa-store"></i>
                    <p>Solutions to get your business found</p>
                </div>

                <div class="service-banner col-md-4">
                     <i class="fas fa-users"></i>
                    <p>Proven ways to attract clients</p>
                </div>

                <div class="service-banner col-md-4">
                     <i class="fas fa-rocket"></i>
                    <p>Making a lasting impact</p>
                </div>

            </div>
        </div>
    </div>
</div>
