<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <i class="fas fa-2x fa-angle-down"></i>
                <h4 class="call-to-action">SUBSCRIBE</h4>
                <hr>
                <p>Sign up with your email address to receive news and updates.</p>
                <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
  </div>
</div>
            </div>
        </div>
    </div>
</section>
