<div class="container-fluid what-i-offer">
    <div class="container text-white">
        <div class="row mb-5">
            <div class="col-md-6">

                <object data="/img/assets/mobileperson.svg" width="350" height="300" style="align: center"> </object>
            </div>

            <div class="col-md-6">
                <h5> You're not alone</h5>
                <h1>I help develop strategies for an effective digital marketing reach</h1>
            </div>

        </div>
        <div class="row text-center pt-5">

            <div class="col-md-4">

                <h5>Strategy and Brand Development</h5>
                <p>Your brand has something distinctive that sets it apart from the sea of competitors. Your audience is unique, too. I take these things - brand, competition, audience - and make one cohesive strategy.</p>
            </div>
            <div class="col-md-4">

                <h5>Advertising</h5>
                <p>I'm focused on results-driven creative. Which means customers will not only see your message. They’ll remember your name as they proceed to checkout.</p>
            </div>
            <div class="col-md-4">

                <h5>Digital Development</h5>
                <p>I believe an informative, intuitive site is imperative for growing your business. Consider a responsive, mobile-first website, optimized landing pages and targeted email campaigns to move the needle.</p>
            </div>
        </div>
    </div>
</div>
