<div class="container what-i-do">
    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-4" style="max-width: 400px;">Do you relate to any of these digital marketing challengs?</h2>

        </div>
        <div class="col-md-6">
            <h5><i class="fas fa-times"></i> Marketing is just something I will never understand </h5>
            <h5><i class="fas fa-times"></i> I want to grow I just dont know where to start </h5>
            <h5><i class="fas fa-times"></i> Our business is growing and we need someone to guide us to the next level </h5>
        </div>
    </div>
</div>
