<div class="container what-i-do">
    <div class="row text-center">
        <div class="col-md-12">
            <h2 class="mb-5">What I do...</h2>

        </div>
        </div>
        <div class="row">
        <div class="col-md-4 text-center">
            <i class="fas fa-check"></i>
            <h6>Search Engine Optimization</h6>
            <p>How will you be found on the internet?</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fas fa-check"></i>
            <h6> Social Media Marketing </h6>
            <p>How will you be found on the internet?</p>
            </div>
            <div class="col-md-4 text-center">
            <i class="fas fa-check"></i>
            <h6> Website Design and Development </h6>
            <p>How will you be found on the internet?</p>
            </div>
            <div class="col-md-4 text-center">
            <i class="fas fa-check"></i>
            <h6> Branding </h6>
            <p>How will you be found on the internet?</p>
            </div>
            <div class="col-md-4 text-center">
            <i class="fas fa-check"></i>
            <h6> Media (Video and Photo) Production </h6>
            <p>How will you be found on the internet?</p>
            </div>
            <div class="col-md-4 text-center">
            <i class="fas fa-check"></i>
            <h6> PPC Advertising </h6>
            <p>How will you be found on the internet?</p>
            </div>
        </div>
    </div>
    </div>
