<div class="container-fluid what-i-offer">
    <div class="container">
        <div class="row text-center pt-5">
            <div class="col-md-12 text-center mx-auto" style="max-width: 700px;" >
                <h5 style="font-weight: 600">What makes me different?</h5>
                <p> Affordable Marketing Services, Marketing Services, marketing agency in troy mi, marketing agency in detroit mi, marketing agency in michigan, advertising, digital solutions, digital marketing, website  </p>
                <p style="color: #242424;">
                    <a style="color: #242424;" class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        + Click to read more
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div style="color: #242424;" class="">
                        <h4> How do I do it?</h4>
                        <p>
                            Meeting 1-on-1 and getting a full understanding about what are you creating. </p>
                            <h4> What do I do?</h4>
                            <p>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        Strategy and Brand Development
        Your brand has something distinctive that sets it apart from the sea of competitors. Your audience is unique, too. I take these things - brand, competition, audience - and make one cohesive strategy.

        Advertising
        I'm focused on results-driven creative. Which means customers will not only see your message. They’ll remember your name as they proceed to checkout.

        Digital Development
        I believe an informative, intuitive site is imperative for growing your business. Consider a responsive, mobile-first website, optimized landing pages and targeted email campaigns to move the needle. -->
