<div class="container-fluid what-i-solve">
    <div class="row justify-content-md-center">
        <div class="col-md-6 text-center">
            <!-- <h6 class="text-white">Vision</h6> -->
            <h2 style="line-height: 1.5em; text-shadow: 1px 1px #242424;" class="text-white">I help develop strategies for an effective digital marketing reach for starting and growing businesses</h2>
            <div class="text-center mt-5">
            <a href="/pages/services.html" class="btn btn-secondary btn-xl">Learn more</a>
            </div>
        </div>
    </div>
</div>
