<div class="container what-i-do">
    <div class="row text-center">
        <div class="col-md-12">
            <h2 class="mb-5">Are you struggling with...</h2>

        </div>
        </div>
        <div class="row">
        <div class="col-sm-12">
            <h5><i class="fas fa-check"></i> Marketing</h5>
            <p>When a company makes a good product that people want to buy, the company wants to let people know that they have this good product. So, they can print a bunch of advertisements and put them in the newspapers and on TV so everyone knows about it. Then when people want to buy something, they think of what company has it and go there. </p>
            <h5><i class="fas fa-check"></i> Advertising </h5>
            <h5><i class="fas fa-check"></i> Content </h5>
        </div>
    </div>
    </div>
</div>
