---
layout: page
title: Everlast Floors
description: Website, Graphic Design
project-date: 2019
services: website, branding, design
website: https://www.everlast.com
---

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <p><b>Client:</b> {{ page.title }}</p>
            <p><b>Date:</b> 2019 </p>
        </div>
        <div class="col-md-6">
            <p><b>Category:</b> {{ page.services }}</p>
            <p><b>Website:</b> <a href="{{ page.website }}"
                    style="color: #18274B; text-decoration: underline;">{{page.title}}</a></p>
        </div>
    </div>
</div>

<br>

<div class="container">
    
        <div class="col-md-12">
            <img src="/img/assets/clientImages/everlast/everlastweb.png" class="img-fluid rounded-lg shadow-lg"
                alt="image">
        </div>
   
    <div class="container">
        <div class="col-md-12 rounded-lg shadow-lg text-center video-responsive">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/QEPjJ5nmyDY"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="container">
        <img src="/img/assets/clientImages/everlast/van.png" alt="everlastvan" style="float: none;" width="40%"
                class="rte__no-indent img-fluid rounded-lg shadow-lg"> </span>

        <img src="/img/assets/clientImages/everlast/boxtruck.png" class="mb-1 img-fluid rounded-lg shadow-lg"
            alt="image" width="40%"><br>
        <img src="/img/assets/clientImages/everlast/flyer.jpg" class="mb-1 img-fluid rounded-lg shadow-lg" alt="image"
            width="40%">
        <img src="/img/assets/clientImages/everlast/flyer2.jpg" class="mb-1 img-fluid rounded-lg shadow-lg" alt="image"
            width="40%"><br>
        <img src="/img/assets/clientImages/everlast/binder.jpeg" class="mb-1 img-fluid rounded-lg shadow-lg" alt="image"
            width="90%">
    </div>
</div>


<div class="modal" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content" style="background-color: rgba(255,255,255,0.00); border: none;">
            <div class="modal-body text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #fff;"> <span
                        aria-hidden="true">×</span> </button> <img loading="lazy"
                    src="/img/assets/clientImages/everlast/van.png" alt="everlastvan" width="120%" style="float: none;"
                    class="rte__no-indent">
            </div>
        </div>
    </div>
</div>

{% include sections.html %}
{% include call-to-action.html %}