---
layout: page
title: VIEW MY WORK
description: Projects that i've worked on
---

	<div class="container my-5">
    <div class="row">
        {% for post in site.categories.work %}
        <div class="col-lg-6 col-md-6 col-sm-6 mb-4">
					<div class="card text-center" style="border: none; margin-bottom: 20px; ">
						<div class="card-body">					
            <!-- Button to Open the Modal -->
            <a type="button" class="text-center" data-toggle="modal" data-target="#modal{{ forloop.index }}">
							<img src="{{ post.thumbnail }}" class="card-img-top mb-4" alt="{{ post.title }}" style="object-position: top; object-fit: cover; height: 300px; width: 100%; ">
							<h4 class="card-title" style="color: black;">{{ post.client }}</h4>
							<p>{{ post.title}}</p>
						</a>
					</div>
				</div>

            <!-- The Modal -->
            <div class="modal fade fixed-width-modal" id="modal{{ forloop.index }}">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h5 class="modal-title">{{ post.title }}</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
													{{ post.content }}							

												{% if post.video %}
												<div class="video-container">
													<iframe id="video{{ forloop.index }}" width="560" height="315" src="{{ post.video }}" frameborder="0" allowfullscreen></iframe>
												</div>
											{% elsif post.image %}
												<img src="{{ post.image }}" height="100%" width="100%">
											{% endif %}
									

                        </div>
												
                        <!-- Modal footer -->
                        <div class="modal-footer text-center">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<style>
	/* Custom styles for fixed-width modal */
	.modal.fixed-width-modal .modal-dialog {
			width: 900px;
			max-width: 100%; /* Ensure it doesn't exceed the viewport width */
			margin: auto;
	}
	</style>

<script>
  // Use jQuery to handle the modal close event
  $('[id^="modal"]').on('hidden.bs.modal', function () {
    var modalId = $(this).attr('id');
    var videoId = 'video' + modalId.replace('modal', '');
    var video = $('#' + videoId);
    if (video.length) {
      var src = video.attr('src');
      video.attr('src', ''); // Clear the src attribute
      video.attr('src', src); // Reset the src attribute
    }
  });
</script>

{% include call-to-action.html %}