{% include head.html %}
{% include header-page.html %}
{% include scripts.html %}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <p class="m-0">Client: </p>
            <h2> {{ page.title }} </h2>
            <p class="m-0">Date:</p> 
            <h2> {{ page.project-date }} </h2>
        </div>
        <div class="col-md-6 col-sm-6">
            <p class="m-0">Category: </p>
            <h2> {{ page.services }}</h2>
            <p class="m-0">Website: </p>
            <h2><a href="{{ page.website }}" style="color: #18274B; text-decoration: underline;">{{page.title}}</a></h2>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto mt-5 mb-5">
            {{ content }}
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <h3 class="text-center mb-4">Work for {{ page.title }}</h3>
    <div class="row justify-content-center">
        {% assign client_work = site.categories.work | where: "client", page.title %}
        {% for work in client_work %}
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card text-center work-card shadow-sm" style="border: none; margin-bottom: 20px;">
                    <div class="card-body d-flex flex-column">
                        <a type="button" class="text-center" data-toggle="modal" data-target="#modal{{ forloop.index }}">
                            <img src="{{ work.thumbnail }}" class="card-img-top mb-4" alt="{{ work.title }}" 
                                 style="object-position: top; object-fit: cover; height: 200px; width: 100%;">
                            <h4 class="card-title" style="color: black;">{{ work.title }}</h4>
                            <p class="card-text">{{ work.description }}</p>
                        </a>
                    </div>
                </div>

                <!-- Modal for each work item -->
                <div class="modal fade fixed-width-modal" id="modal{{ forloop.index }}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">{{ work.title }}</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                {{ work.content }}
                                {% if work.video %}
                                    <div class="video-container">
                                        <iframe class="youtube-video" width="560" height="315" src="{{ work.video }}" 
                                                frameborder="0" allowfullscreen></iframe>
                                    </div>
                                {% elsif work.image %}
                                    <img src="{{ work.image }}" height="100%" width="100%">
                                {% endif %}
                            </div>
                            <div class="modal-footer text-center">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% include backbutton.html %}
{% include footer.html %}

<!-- Add this script before the closing </body> tag -->
<script>
    $(document).ready(function() {
        $('.modal').on('hidden.bs.modal', function () {
            var iframes = $(this).find('.youtube-video');
            if (iframes.length > 0) {
                iframes.each(function() {
                    var src = $(this).attr('src');
                    $(this).attr('src', '');
                    $(this).attr('src', src);
                });
            }
        });
    });
</script>