{% include head.html %}
{% include header-post.html %}
{% include scripts.html %}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <p class="m-0">Client: </p>
            <h1> {{ page.title }} </h1>
            <p class="m-0">Date:</p> 
            <h1> {{ page.project-date }} </h1>
        </div>
        <div class="col-md-6 col-sm-6">
            <p class="m-0">Category: </p>
            <h1> {{ page.services }}</h1>
            <p class="m-0">Website: </p>
            <h1><a href="{{ page.website }}" style="color: #18274B; text-decoration: underline;">{{page.title}}</a></h1>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-12 ml-auto mr-auto mt-5 mb-5" style="max-width: 600px;">
			{{ content }}
		</div>
	</div>
</div>