<!DOCTYPE html>
<html lang="en">

{% include head.html %} 

<body id="page-top">

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

	{% include nav.html %}
	{% include scripts.html %}

	<div class="heading">

		<h2 style="margin-bottom: 0px;">{{page.title}}</h2>
		<h5>{{page.description}}</h5>

	</div>

	{{content}}

	{% include footer.html %}

</body>

</html>