
{% include head.html %} 
{% include nav.html %}
{% include scripts.html %}

<div class="section-post">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h6><i class="fas fa-calendar-week"></i> {{ page.date | date: "%a %b %d, %Y" }} </h6>
				<h2 class="mt-1 mb-1"><b> {{ page.title }} </b></h2>
				<h5 class="mb-1" style="line-height: 1.5em;"> {{ page.excerpt }} </h5>
				<h6 style="color: #355c7d;"> <i class="fas fa-user"></i> {{ page.author }} • <i class="fas fa-archive"></i> {{ page.category }} • <i class="far fa-clock"></i>  {{ page.duration }} min • <i class="fas fa-tag"></i> {{ page.tags }}</h6>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row" style="margin-top: 30px;">
		<div class="col-md-8" style="max-width: 900px;">
		
		<img src="{{ page.image }}" class="img-responsive mb-4">

				{{ content }}

		</div>
		<div class="col-md-4">
		<h2 class="mt-0"> Related Topics </h2>
		<img src="{{ page.image }}" class="img-responsive mb-4">
<a href="{{ post.url }}"><h2> {{ page.title }}</h2></a>

		</div>
	</div>
</div>


{% include footer.html %}
