
{% include head.html %} 
{% include nav.html %}
{% include scripts.html %}

<section class="bg-dark">

	<div class="container">
		<div class="row text-center">
			<div class="col-md-12 mb-5">
				<h2> {{ page.title }} </h2>
				<h6> {{ page.excerpt }} </h6>
				<p> <i class="far fa-clock"></i>  {{ page.duration }}  min</p>

			</div>
			<div class="col-lg-3 col-xs-6">
				<p> <i class="fas fa-calendar-week"></i> {{ page.date | date: "%a %b %d, %Y" }} </p>
			</div>
			<div class="col-lg-3 col-xs-6">
				<p> <i class="fas fa-user"></i> {{ page.author }}  </p>
			</div>
			<div class="col-lg-3 col-xs-6">
				<p> <i class="fas fa-tag"></i>  {{ page.tags }} </p>
			</div>
			<div class="col-lg-3 col-xs-6">
				<p> <i class="fas fa-archive"></i> {{ page.category }} </p>
			</div>
		</div>
	</div>
</div>

</section>

<div class="container">
	<div class="row">
		<div class="col-md-6" style="padding: 50px 0;">
			<div class="container">
				
				{{ content }}

			</div>
		</div>
	</div>
</div>

{% include footer.html %}