<html lang="en">
	{% include head.html %}
<body>
	{% include header-page.html %}
	{% include scripts.html %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
<img src="../img/header1.jpg" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2> Logo Audit </h2>
                <p> Get your logo looked it by a professional graphic designer. </p>
                <a href="https://square.link/u/2Ic8UF87" class="btn btn-primary">Buy Now
                </a>

            </div>
        </div>
    </div>
</section>

{% include footer.html %}
</body>
</html>
